Repository thesis/solidity-contracts: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

lint-js:
  name: lint js
  entry: /usr/bin/env bash -c "npx run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol:
  name: lint solidity
  entry: /usr/bin/env bash -c "npx run lint:sol"
  language: script
  description: Checks Solidity code according to the package's linter configuration

GitHub Actions CI configured
  .github/workflows/contracts.yml
  .github/workflows/format.yml
Due: none

Fixed formatting of workflow yamls
  .github/workflows/contracts.yml
  .github/workflows/format.yml
Due: none

ERC20WithPermit token
  contracts/test/ReceiveApprovalStub.sol
  contracts/token/ERC20WithPermit.sol
  contracts/token/IERC20WithPermit.sol
  contracts/token/IReceiveApproval.sol
  test/ERC20WithPermit.test.js
  test/helpers/contract-test-helpers.js
  test/token/ERC20WithPermit.test.js
Due: lint-js, lint-sol

CloneFactory implementation for EIP 1167
  contracts/clone/CloneFactory.sol
Due: lint-sol

Use solidity ^0.8.0 version
  contracts/test/ReceiveApprovalStub.sol
  contracts/token/ERC20WithPermit.sol
  contracts/token/IERC20WithPermit.sol
  contracts/token/IReceiveApproval.sol
Due: lint-sol

Explained logic behind checking current chain ID against the current one
  contracts/token/ERC20WithPermit.sol
Due: lint-sol

Add token metadata functions to IERC20WithPermit
  contracts/token/ERC20WithPermit.sol
  contracts/token/IERC20WithPermit.sol
Due: lint-sol

Set solidity compiler version to 0.8.6
  .github/workflows/contracts.yml
  contracts/test/ReceiveApprovalStub.sol
  contracts/token/ERC20WithPermit.sol
  contracts/token/IERC20WithPermit.sol
  contracts/token/IReceiveApproval.sol
  hardhat.config.js
Due: lint-js, lint-sol

Extracted approveAndCall to a separate interface
  contracts/token/IApproveAndCall.sol
  contracts/token/IERC20WithPermit.sol
  contracts/token/IReceiveApproval.sol
Due: lint-sol

Modified Solidity pragma to ^0.8.5
  contracts/clone/CloneFactory.sol
  contracts/token/ERC20WithPermit.sol
  hardhat.config.js
Due: lint-js, lint-sol

Unit tests for CloneFactory contract
  contracts/test/CloneFactoryStub.sol
  contracts/test/Cloneable.sol
  test/clone/CloneFactory.test.js
  test/helpers/contract-test-helpers.js
Due: lint-js, lint-sol

One more test for CloneFactory.isClone
  test/clone/CloneFactory.test.js
Due: lint-js

Do not reduce allowance in burnFrom for uin256 max allowance
  contracts/token/ERC20WithPermit.sol
  test/helpers/contract-test-helpers.js
  test/token/ERC20WithPermit.test.js
Due: lint-js, lint-sol

Added Solidity docs to public functions of ERC20WithPermit contract
  contracts/token/ERC20WithPermit.sol
  contracts/token/IApproveAndCall.sol
  contracts/token/IERC20WithPermit.sol
  contracts/token/IReceiveApproval.sol
Due: lint-sol

Added Solidity docs to CloneFactory functions
  contracts/clone/CloneFactory.sol
Due: lint-sol

Changed solidity pragma from ^0.8.5 to ^0.8.4
  contracts/test/CloneFactoryStub.sol
  contracts/test/Cloneable.sol
  contracts/token/ERC20WithPermit.sol
Due: lint-sol

Changed solidity pragma from ^0.8.5 to ^0.8.4
  contracts/test/ReceiveApprovalStub.sol
  contracts/token/ERC20WithPermit.sol
  contracts/token/IApproveAndCall.sol
  contracts/token/IERC20WithPermit.sol
  contracts/token/IReceiveApproval.sol
Due: lint-sol

Fixed typos in Solidity docs
  contracts/token/ERC20WithPermit.sol
Due: lint-sol

Uppercase PERMIT_TYPEHASH and DOMAIN_SEPARATE test describes
  test/token/ERC20WithPermit.test.js
Due: lint-js

Use non-initialSupply amount for tests
  test/token/ERC20WithPermit.test.js
Due: lint-js

Add more tests for invalid permit signatures
  test/token/ERC20WithPermit.test.js
Due: lint-js

Minor fixes to test names descriptions
  test/token/ERC20WithPermit.test.js
Due: lint-js

Check that totalSupply remains unchanged after transfers
  test/token/ERC20WithPermit.test.js
Due: lint-js

Test if permit increases the nonce
  test/token/ERC20WithPermit.test.js
Due: lint-js

Use different account for permit submitter and spender
  test/token/ERC20WithPermit.test.js
Due: lint-js

Test different values of transfered amounts
  test/token/ERC20WithPermit.test.js
Due: lint-js

Use test fixture to initialize tests
  test/token/ERC20WithPermit.test.js
Due: lint-js

Expose helpers to be reusable by other packages
  helpers/contract-test-helpers.js
  package.json
  test/token/ERC20WithPermit.test.js
Due: lint-js

Better organized test contract stubs
  contracts/test/clone/CloneFactoryStub.sol
  contracts/test/clone/Cloneable.sol
  contracts/test/token/ReceiveApprovalStub.sol
Due: lint-sol

_beforeTokenTransfer hook for ERC20WithPermit
  contracts/test/token/ERC20WithPermitStub.sol
  contracts/token/ERC20WithPermit.sol
  test/token/ERC20WithPermit.test.js
Due: lint-js, lint-sol

Compute PERMIT_TYPEHASH constant instead of hardcoding it
  contracts/token/ERC20WithPermit.sol
  test/token/ERC20WithPermit.test.js
Due: lint-js, lint-sol

Linter made happy
  test/token/ERC20WithPermit.test.js
Due: lint-js

Renamed _beforeTokenTransfer to beforeTokenTransfer
  contracts/test/token/ERC20WithPermitStub.sol
  contracts/token/ERC20WithPermit.sol
  test/token/ERC20WithPermit.test.js
Due: lint-js, lint-sol

MisfundRecovery contract
  contracts/test/token/TestERC20.sol
  contracts/test/token/TestERC721.sol
  contracts/token/MisfundRecovery.sol
  test/token/MisfundRecovery.test.js
Due: lint-js, lint-sol

Disallow transfers to the token address
  contracts/token/ERC20WithPermit.sol
  test/token/ERC20WithPermit.test.js
Due: lint-js, lint-sol

Replaced assembly chainid() call with block.chainid
  contracts/token/ERC20WithPermit.sol
Due: lint-sol

Added a note to CloneFactory about 0x0 create opcode result
  contracts/clone/CloneFactory.sol
Due: lint-sol

Renamed `nonces` to `nonce`
  contracts/token/ERC20WithPermit.sol
  contracts/token/IERC20WithPermit.sol
  test/token/ERC20WithPermit.test.js
Due: lint-js, lint-sol

Renamed `sender` to `spender` for consistency
  contracts/token/ERC20WithPermit.sol
Due: lint-sol

s/sender/spender in ERC20WithPermit.test.js
  test/token/ERC20WithPermit.test.js
Due: lint-js

Path conditions:
  lint-js: any of: \.js$
  lint-sol: any of: \.sol$
