Repository thesis/solidity-contracts: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/keep-network/pre-commit-hooks.git
    rev: v1.3.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: lint-js
        name: "lint js"
        entry: /usr/bin/env bash -c "npx run lint:js"
        files: '\.js$'
        language: script
        description: "Checks JS code according to the package's linter configuration"
      - id: lint-sol
        name: "lint solidity"
        entry: /usr/bin/env bash -c "npx run lint:sol"
        files: '\.sol$'
        language: script
        description: "Checks Solidity code according to the package's linter configuration"
      - id: prettier
        name: "prettier"
        entry: /usr/bin/env bash -c "npx prettier --check ."
        language: script
        description: "Checks code according to the package's formatting configuration"

Extract repeated tx code to beforeEach blocks
  test/token/ERC20WithPermit.test.js
Due: lint-js

Add a GH Actions workflow publishing npm package with contracts
  .github/workflows/npm.yml
  package.json
Due: none

Change npm -> yarn
  .github/workflows/npm.yml
Due: none

Use `pre` suffix & tag instead of `dev`
  .github/workflows/npm.yml
  package.json
Due: none

Fix extension of file in `paths` trigger
  .github/workflows/npm.yml
Due: none

EIP-2612 compliance fix: n/nonce/nonces
  contracts/token/ERC20WithPermit.sol
  contracts/token/IERC20WithPermit.sol
  test/token/ERC20WithPermit.test.js
Due: lint-js, lint-sol

Use actions running on `node16`
  .github/workflows/contracts.yml
  .github/workflows/format.yml
  .github/workflows/npm.yml
Due: none

Upgrade to Slither 0.9.6 / Python 3.11
  .github/workflows/contracts.yml
Due: none

Make proper use of the term `spender`...
  contracts/token/ERC20WithPermit.sol
Due: lint-sol
